<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <form action="/findscore" method="post">
        <h1 class="heading h1marginup">Maximum Score Fetcher</h1>
        <input type="text" placeholder="username" autocomplete="off" name="Username" class="email" required>
        <button type="submit" class="submit-btn" name="button">Search</button>
        <h1 class="score"> <%= foundscore %> </h1>

        <a href="/" class="link">Move to login section</a>

    </form>
</body>
</html>