<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>


    <form action="/" method="post">
        <h1 class="heading">user name</h1>
        <input type="text" placeholder="username" autocomplete="off" name="username" class="email" required>
        <button type="submit" class="submit-btn" name="button">log in</button>
        <a href="findscore" class="link">Check you maximum status with our <br> Maximum Score Fetcher</a>
    </form>



</body>
</html>